<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281816170577-9deuirjvl6mn055k7ej45si57ks99hhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281816170577-9deuirjvl6mn055k7ej45si57ks99hhk</string>
	<key>API_KEY</key>
	<string>AIzaSyACooFXSr2_Na_1tqqDU2an83Qq6lR_Y60</string>
	<key>GCM_SENDER_ID</key>
	<string>281816170577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.rmit.uhmmteam.movienow</string>
	<key>PROJECT_ID</key>
	<string>movienow-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>movienow-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281816170577:ios:6b1031376aec24e5e0b870</string>
</dict>
</plist>